.btn-outline-success{
       padding: 2px 4px;
       border-color: transparent;
       padding-top: 0;
}
.btn-outline-success:hover {
      background-color: transparent;
      color: #198754;
      border-color: #198754;
      padding-top: 0;
}